@import url('https://fonts.googleapis.com/css?family=Poppins:300,500,600,700|Poppins:400');

:root{
    --mainAccentColor: #5870DC;
    --mainBackgroundColor: #26272C;
    --secondaryBackgroundColor: #35363E;
    --header1Fontsize: 48px;
    --header2Fontsize: 24px;
    --paragraphFontsize: 16px;
    --header1Fontweight: 700;
    --header2Fontweight: 600;
    --header3Fontwieght: 500;
    --paragraphFontweight: 400;
    --mainFontColor: #FFFFFF;
    --secondaryFontColor: #DBDBDB;
}
*{
    margin: 0px;
    
}
body{
    background-color: var(--mainBackgroundColor);
    font-family: 'Poppins';
    color: white;
    margin: 0px 104px;
    overflow-x: hidden;
}
main{
    padding: 0px 80px;
}
h1{
    font-size: var(--header1Fontsize);
    font-weight: var(--header1Fontweight);
}
h2{
    font-size: var(--header2Fontsize);
    font-weight: var(--header2Fontweight);
}
h3{
    font-size: var(--paragraphFontsize);
    font-weight: 400;
}
p{
    font-size: var(--paragraphFontsize);
    font-weight: var(--paragraphFontweight);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainBackgroundColor);
    padding: 17px 2rem;
    border-radius: 48px;
    margin-top: 32px;
    box-shadow: -8px -8px 16px #3D3E46,
                8px 8px 16px #0F1012;
    & nav {
        display: flex;
        gap: 17px;
    }
}
footer{
    display: flex;
    justify-content: space-between;
    border-radius: 48px;
    margin-top: 64px;
    margin-bottom: 32px;
    padding: 24px 32px;
    box-shadow: -8px -8px 16px #3D3E46,
                8px 8px 16px #0F1012;
}
button{
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: var(--paragraphFontsize);
    font-weight: 500;
    color: white;
}
input[type="text"], input[type="tel"], input[type="email"]{
    border: none;
    height: 48px;
    background: #26272C;
    box-shadow: inset -5px -5px 10px #3D3E46, inset 5px 5px 10px #0F1012;
    border-radius: 16px;
    padding: 0px 16px;
    font-size: 16px;
    color: #FFFFFF;
}
.menu_button{
    padding: 12px 42px;
    background-color: var(--mainBackgroundColor);
    color: #DBDBDB;
}
#button_standout{
    box-shadow: -4px -4px 8px #3D3E46,
                4px 4px 8px #0F1012;
}
#button_container{
    display: flex;
    width: 100%;
    margin-top: 48px;
    gap: 24px;
    & button{
        width: 50%;
        padding: 16px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
}
.primary_button{
    background-color: var(--mainAccentColor);
    box-shadow: 8px 8px 16px hsla(229, 65%, 60%, 0.2),
                -8px -8px 16px rgba(181, 189, 221, 0.2);
    & img{
        width: 20px;
        height: 16px;
    }
}
.secondary_button{
    background-color: var(--mainBackgroundColor);
    box-shadow: -8px -8px 16px rgba(61, 62, 70, 0.6),
                8px 8px 16px #0F1012;
    & img{
        width: 16px; height: 16px;
        position: relative;
        top: -2px
    }
}
#hero_section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-direction: row;
    margin: 104px 0px;
}
.wave_background{
    position: absolute;
    z-index: -1;
    left: 0;
    background-color: #404149;
    min-height: 600px;
    top: 0;
    width:100vw;
    overflow: hidden;
}
.wave{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-repeat: repeat-x;
}
.foreground{
    background-image: url(assests/svg/wave_foreground1.svg);
    height: 529.13px;

    animation: bottom_wave 30000ms infinite linear;
}
.foreground2{
    background-image: url(assests/svg/wave_foreground2.svg);
    height: 327.5px;
    animation: middle_wave 35000ms infinite linear;
}
.foreground3{
    background-image: url(assests/svg/wave_foreground3.svg);
    height: 126.53px;
    
    animation: top_wave 40000ms infinite linear;
}
@keyframes bottom_wave {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1440px;
    }
}
@keyframes middle_wave {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1440px;
    }
}
@keyframes top_wave {
    0%{
        background-position-x: 0;
    }    
    100%{
        background-position-x: -1440px
    }
}

section{
    margin: 64px 0px;
}
.section_header{
    margin-bottom: 48px;
    & h2{
        margin: 0px;
    }
    & h3{
        margin: 0px;
        color: #C8C8C8;
        text-transform: capitalize;
    }
}
.hero_text{
    width: 50%;
    align-items: center;
}
.hero_image{
    width: 50%;
    & img{
        max-width: 100%;
        max-height: 600px;
    }
}
#divider_line{
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 48px;
    align-self: center;
}
#contact_list{
    margin-top: 64px;
}
.icon_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    & p{
        font-size: 12px;
    }
}
.icon_background{
    width: 48px; height: 48px;
    box-shadow: -8px -8px 16px rgba(61, 62, 70, 0.6),
                8px 8px 16px #0F1012;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#project_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    column-gap: 16px;
    row-gap: 32px;
}
.project_container{
    background-color: var(--mainBackgroundColor);
    border-radius: 24px;
    box-shadow: -8px -8px 16px #383A41,
                8px 8px 16px #141417;
                overflow: hidden;
    & img{
        max-height: 50%;
        max-width: 100%;
    }
    & .project_text{
        display: flex;
        flex-direction: column;
        padding: 24px 12px;
        gap: 16px;
    }
    & .project_text >h3{
        font-weight: 700;
    }
    & button{
        background-color: var(--mainAccentColor);
        width: -webkit-fill-available;
        margin: 0px 12px 12px 24px;
        padding: 14px 109px;
        display: flex;
        gap: 8px;
        box-shadow: 8px 8px 16px hsla(229, 65%, 60%, 0.2),
                    -8px -8px 16px rgba(181, 189, 221, 0.2);
    }
}
.project_tags{
    display: flex;
    gap: 4px;
    & p{
        margin: 0px;
        font-size: 12px;
        padding: 4px 16px;
        border-radius: 48px;
        background-color: var(--mainBackgroundColor);
        color: #C0C0C0;
        box-shadow: -2px -2px 4px #3d3e4599,
                    2px 2px 4px #0F1012;
    }
}
#aboutme_block{
    display: flex;
    flex-direction: row;
    box-shadow: -8px -8px 16px #383A41,
                8px 8px 16px #141417;
    border-radius: 24px;
    max-height: 624px;
}
.aboutme_text{
    width: 60%;
    & .text_block{
        margin: 16px;
        padding: 16px 32px;
        box-shadow: inset -5px -5px 10px #3D3E46,
                    inset 5px 5px 10px #0F1012;
        border-radius: 16px;
    }
    & button{
        padding: 16px 48px;
        justify-self: center;
        align-self: center;
        margin: 32px auto;
    }
}
#aboutme_image{
    margin: 16px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 24px;
    width: 40%;
    max-height: 500px;
}
#text_intro{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#intro_paragraph{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#skill_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 8px;
}
.grid_skill_item{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: left;
    align-items: center;
    & img{
        width: 24px; height: 24px;
    }
    & p{
        font-size: 12px;
    }
}
.contact_area{
    display: flex;
}
.contact_info{
    width: 40%;
    padding: 24px 16px;
    box-shadow: -8px -8px 16px #383A41,
                8px 8px 16px #141417;
    border-radius: 24px;
}
.contact_list{
    padding: 0px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 12px;
}
.contact_form{
    width: 100%;
    padding: 0px 0px 0px 24px;
}
.contact_form > form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.info_block{
    display: flex;
    flex-direction: column;
    gap: 4px;
    & h4{
        font-weight: 400;
        color: #949494;
        margin: 0px;
        padding: 0px;
        font-size: 14px;
    }
    & p{
        font-weight: 600;
        margin: 0px;
        padding: 0px;
    }
}
.input_element{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 50%;
}
#contact_form_top, #contact_form_mid{
    display: flex;
    gap: 37px;
    & input {
        width: calc(100%-40px);
    }
}
#contact_form_bottom > .input_element{
    width: 100%;
}
#message_area{
    height: 96px;
}
#submit_button_area{
    display: flex;
    width: 100%;
    justify-content: end;
    & input[type="submit"] {
        height: 48px;
        width: 196px;
        border-radius: 64px;
        border: none;
        font-size: 16px;
        background-color: #5870DC;
        box-shadow: 8px 8px 16px hsla(229, 65%, 60%, 0.2),
                    -8px -8px 16px hsla(228, 38%, 79%, 0.2);
        color: white;
    }
}
.footer_links{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    & .footer_text{
        font-size: 16px;
        margin: 0px;
    }
}
.links_buttons{
    width: 48px; height: 48px;
    border-radius: 48px;
    box-shadow: -2px -2px 4px #383A41,
                2px 2px 4px #141417;
    display: flex;
    justify-content: center;
    align-items: center;
}
