:root{
    --mainTextColor: hsl(99, 24%, 14%);
    --backgroundColor: hsl(80, 100%, 99%);
    --primaryColor: hsl(87, 56%, 51%);
    --primaryAccentColor: hsl(87, 86%, 32%);
    --neutralColor: hsl(88, 15%, 24%);
    --secondaryColor: hsl(87, 90%, 28%);
    --darkNeutral: hsl(0, 0%, 0%);
    --fontWeightH1: 700;
    --fontWeightH2: 400;
    --fontWeightP: 300;
    --fontsizeHeader1: 1.75rem;
    --fontsizerHeader2: 1.25rem;
    --fontsizeParargraph: 1rem;
}
/*---------------------------
Utility Classes
----------------------------*/
.flex{
    display: flex;
    gap: var(--gap, .5rem)
}

html{
    font-family: "Roboto";
    font-size: 12px;
    color: var(--mainTextColor);
}
.sr-only{
    display: none;
}
a{
    text-decoration: none;
}
body{
    background-color: var(--backgroundColor);
    margin: 0px;
}

h1{
    font-size: var(--fontsizeHeader1);
    color: var(--mainTextColor);
    font-weight: var(--fontWeightH1);
    line-height: calc(1.5rem * 1.2);
    letter-spacing: .2rem;
}

h2{
    font-size: var(--fontsizerHeader2);
    color: var(--mainTextColor);
    font-weight: var(--fontWeightH2);
    letter-spacing: .1rem;
}

p{
    font-size: var(--fontsizeParargraph);
    color: var(--mainTextColor);
    font-weight: var(--fontWeightP);
    line-height: 1.4rem;
}
ul{
    list-style: none;
}
li{
    padding: .5rem 1rem;
    font-size: var(--fontsizeParargraph);
}
.section{
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin: 0rem auto;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(4rem);
    
    transition: opacity 250ms ease-in-out, transform 350ms ease-in-out;
}
.section-crossed{
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin: 0rem auto;
    border-radius: 8px;
    animation: loading-animation 350ms ease-in-out;
}
.section.animation{
    opacity: 1;
    transform: translateY(0);
}
/*---------------------------------
Selector Classes
-----------------------------------*/

        /* header objects*/
header{
    --header-background: hsl(90, 5%, 100%);
    --button-background: hsl(87, 56%, 51%);
    --button-hover: hsl(87, 84%, 53%);
    --text-color: hsl(98, 57%, 14%);
    --text-color-inverse: hsl(0, 0%, 0%);
    --menu-icon: url("assests/svg/color-menu.svg");

    z-index: 9999;
    display: flex;
    flex-direction: row;
    background-color: var(--header-background);
    padding:1rem 2rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0; left:0;
}
.home-link >*{
    margin:0;
    color: var(--text-color);
}
#name{
    font-size: var(--fontsizeParargraph);
}
#title{
    font-size: .75rem;
}
.primary-navigation{
    align-items: center;
    margin: 0;
}
.nav-button >*{
    color: var(--text-color);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 30px;
    padding: .5rem 1.25rem;
}
.nav-button__text{
    display: flex;
    flex-direction: row;
    gap: .5rem;
}
.nav-button__text::after{
    content: '';
    position: absolute;
    background-color: var(--mainTextColor);
    width: 100%;
    height: 2px;
    left:0;
    bottom:15%;
    
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}
.nav-button:hover .nav-button__text:after{
    transform: scaleX(1);
}
.nav-button__filled{
    background-color: var(--button-background);
    padding: 1rem 2rem;
    transition: background-color 200ms ease-in;
}
.nav-button__filled a{
    color: var(--text-color-inverse);
}
.nav-button__filled:hover{
    background-color: var(--button-hover);
}
.nav-button__filled:hover a{
    color:var(--backgroundColor);
}
.mobile-toggle{
    background-image: var(--menu-icon);
}
.dropdown{
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(0px);
    z-index: 9999;
    max-width: 20px;
    height: auto;
}
.dropdown-list-items{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1.5rem;
    background-color: white;
    width: 100%;
}
.dropdown-list-items a{
    color: var(--mainTextColor);
}
.dropdown-list-items:hover, .dropdown-list-items:active{
    background-color: var(--primaryColor);
}
.dropdown-list-items:hover a, .dropdown-list-items:active a{
    color: rgb(14, 46, 0);
}
#dropdown-menu:hover, #dropdown-menu:active{
    margin-bottom: 130px;
}
.nav-button:hover .dropdown, .nav-button:active .dropdown{
    display: flex;
    transform: translateY(80px);
}
.header-scrolled{
    --header-background: hsl(103, 42%, 87%);
    --button-background: hwb(87 24% 22%);
    --button-hover: hsl(87, 99%, 30%);
    --text-color: hsl(103, 100%, 7%);
    --text-color-inverse: hsl(114, 91%, 5%);
    --menu-icon: url("assests/svg/color-menu.svg");
    box-shadow: 0px 4px 24px hsla(0, 0%, 0%, 0.15);
}

        /*grid objects*/
#grid-projects{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: 0rem 1rem;
    row-gap: 1rem;
    padding: 1rem;
    column-gap: 1rem ;
    background-color: white;
    border-radius: 3px;
}
.container{
    overflow: hidden ;
    position: relative;
    padding: 10rem 0rem 0rem 0rem;
    transition: transform 250ms ease-in, box-shadow 250ms ease-in;

}
.content-info{
    background: linear-gradient(hsla(0, 0%, 0%, 0.2),
                                hsla(0,0%,0%,.8) 10%,
                                rgb(0, 0, 0));
    padding: 1rem 0rem;
}


.container__link{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.project-name{
    color: var(--backgroundColor);
    position: relative;
    text-align: left;
}
.project-name::after{
    content: '';
    background-color: var(--backgroundColor);
    position: absolute;
    width: calc(100% - 3rem);
    height: 2px;
    border-radius: 4px;
    bottom: 0;
    left: calc(.5rem * -1);
    
}
.project-description{
    max-width: 40ch;
    min-height: 7ch;
    color: var(--backgroundColor);
    text-align: left;
}
#weatherlerts{
    background-image: url(assests/png/mockup-images/weatherlerts-mockup.png);
    background-size: cover;
}
#shelter-finds{
    background-image: url(assests/png/mockup-images/shelter-finds-mockup.png);
    background-size: cover;
}
#free-roam{
    background-image: url(assests/png/mockup-images/free-roam-mockup.png);
    background-size: cover;
}


        /*Other Sections*/
.skillset{
    display: grid;
    grid-template-columns: repeat(1,80%);
    width: clamp(200px, 80%, 900px);
    justify-content: center;
    margin-bottom: 4rem;
}
#skills-heading{
    position: relative;
    text-align: left;
    width: 100%;
    margin: 2rem 0rem;
}
#skills-heading::after{
    --first-color: rgb(136, 199, 59);
    --second-color: rgb(125, 207, 25);
    --finalcolor: rgba(143, 250, 12, 0.2);
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    top: 100%;
    right: 0%;
    border-radius: 4px;
    background: linear-gradient(
        to right,
        var(--first-color),
        var(--second-color),
        var(--finalcolor)
    );
}

.skill-grid{
    display: flex;
    flex-direction: column;
    place-items: left;
    padding: 1rem;
    background-color: rgb(241, 243, 240);
    border-radius: 8px;
}
.skill-grid-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem .5rem;
    gap: 1rem;
}
.skill-image{
    padding-bottom: 1rem;
    width: clamp(16px, 24px, 36px);
    height: clamp(16px, 24px, 36px);
}
.skill-grid-item p{
    text-align: left;
    width: 40%;
}
.contact-link__heading{
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: underline;
}
.contact-link{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
    place-items: center;
}
.contact-links__link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    padding: 0;
    max-height: 25px;
}
.contact-links__link img{
    max-width: 24px;
    max-height: 24px;
}
.hero-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 500px;
    background-color: var(--secondaryColor);
    justify-content: space-between;
    align-items: center;
}
.landing-image{
    position: relative;
    overflow: hidden;
    right: 0%;
    background-image: url();
    width: 80%;
    min-height: 200px;
    max-height: 500px;
    object-fit: cover;
    animation: landing-image-fade 500ms ease-out;
}
@keyframes landing-image-fade{
    from{
        opacity: 0;
        transform: translateX(50%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-title{
    position: relative;
    left: 20px;
    animation: hero-title-fade 500ms ease-out;

}

@keyframes hero-title-fade{
    from{
        opacity: 0;
        transform: translateX(-50%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.hero-title >*{
    color: white;
}
.hero-title h1{
    position: relative;
    margin-bottom: 24px;
}
.hero-title h1::after{
    content: '';
    position: absolute;
    top: 35px;
    left: 0;
    height: 2px;
    border-radius: 3px;
    width: 100%;
    background-color: white;
}
.user-list{
    text-align: left;
    margin: 0 auto;
}
.user-list li{
    text-align: left;
}
.project-subtitle{
    width: 20ch;
}
.section-header{
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
}
#project-page{
    max-width: 125ch;
}
.image-container{
    gap: 1rem;
    max-width: clamp(60%, 90%, 900px);
    justify-content: center;
    margin: 0rem auto;
}
.subheading{
    font-weight: 600;
    width: 80%;
    text-align: left;
    margin: 1rem 0rem;
}
.subtext{
    margin: .5rem 0rem;
    width: 80%;
    margin-bottom: 2rem; margin-top: 0rem;
}
.grid-image{
    display: grid;
    grid-template-columns: repeat(2,50%);
    justify-content: center;
    align-items: center;
    margin: 2rem;
    row-gap: 4rem;
    columns: 3rem;
}
.ui-images{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.25rem 1rem;
    height: 100%;
    width: 80%;
    border: 4px solid rgba(99, 167, 3, 0.25);
    border-radius: 5px;
}
.ui-images h2{
    font-size: var(--fontsizeParargraph);
    font-weight: 700;
}
.ui-images p{
    font-size: 10px;
    height: 80px;
    width: 80%;
}
.thumbnail-image{
    width: 64px; height: 64px;
    justify-content: center;
    align-items: center;
}
.ideation-paragraph{
    margin: 2rem 0rem
}
.design-intro-heading{
    font-weight: 300;
    margin: 2rem 0rem;
}
.design-intro-paragraph{
    margin: 2rem 0rem;
}
.design-div-image{
    width: 80%;
    align-items: center;
    margin: 1rem auto;
}
.user-flow-subheading{
    margin: 2rem 0rem;
    font-weight: 300;
}
.image-div{
    width: 80%;
}
#project-images{
    width: 100%;
    max-width: 1000px;
    margin: 1rem 0rem;
}
#svg-images{
    width: 100%;
    max-width: 1200px;
    margin: 0;
}
.user-flow-chart{
    margin: 2rem 0rem;
}
.example-section{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    place-items: center;
    padding: 6rem 4rem;
    row-gap: 2rem;
}
.learned-list{
    list-style: circle;
    align-items: center;
    margin-bottom: 2rem;
}
.learned-list li{
    height: auto;
}
.learned-list p{
    text-align: left;
    font-weight: 400;
}
.other-works{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    row-gap: 1rem;
    margin: 2rem 0rem;
}
.other-works-heading{
    text-align: left;
    font-weight: 300;
    font-size: var(--fontsizerHeader2);
    color: var(--backgroundColor);
}
.other-works-box{
    width: 90%;
    max-height: 75px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1.25rem;
    background-color: var(--backgroundColor);
    box-shadow: 0px 4px 4px rgba(129, 129, 129, 0.3);
    overflow: hidden;
}
.img-preview{
    height: 100%;
    max-width: 40%;
}
.img-preview img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bottom-form{
    flex-direction: column;
    justify-content: center;
    place-items: center;
    background-color: var(--primaryColor);
    padding: 5rem 0rem;
}
.profile-pic-div{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.profile-pic{
    max-width: 64px;
    max-height: 64px;
    aspect-ratio: 1;
    border-radius: 50px;
}
.profile-button{
    text-decoration: none;
    color: var(--mainTextColor);
    background-color: var(--backgroundColor);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.profile-text{
    color: var(--backgroundColor);
}
.name-bottom-form{
    margin: 0;
    font-weight: 600;
}
.subtitle-bottom-form{
    margin: 4px;
}
.project-image{
    width: 60px;
    height: 60px;
}
.project-description-small-form{
    width: 20ch;
    font-size: var(--fontsizeParargraph);
}

/*-------------------------------------
        Media Queries
----------------------------------------*/


/*for devices that have hover capabilities*/
@media (hover) {
    .content-info{
        transition: transform 250ms ease-in;
        transform: translateY(6rem);
    }
    .container:hover, .container:active{
        transform: scale(1.025);
        box-shadow: 10px 8px 24px rgba(3, 51, 27, 0.3);
    }
    .container:hover .content-info, .container:focus-within .content-info{
        transform: translateY(0);
    }
    .container:focus-within .content-info{
        transition-duration: 0ms;
    }
    .project-name::after{
        transform: scaleX(0);
        transition: transform 300ms ease-in;
        transform-origin: left;
    }
    .container:hover .project-name::after{
        transform: scaleX(1);
    }
}
@media screen and  (max-width: 480px){
    .primary-navigation{
        --menu-color: rgb(136, 199, 59);
        --button-background: rgb(254, 255, 252);
        position: fixed;
        gap: 3rem;
        inset: 0 0 0 40%;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        padding: min(20vw, 10rem) 1em;
        margin: 0;
        background-color: var(--menu-color);
        z-index: 99;
        transform: translateX(100%);
        transition: transform 250ms ease-in;
    }
    .primary-navigation[data-visible = "true"]{
        transform: translateX(0%);
    }
    .mobile-toggle{
        position: absolute;
        top: 24px;
        background-color: transparent;
        aspect-ratio: 1;
        width: 24px;
        padding: 4px;
        background-repeat: no-repeat;
        top:1rem;
        right: 2rem;
        z-index: 999;
        border: none;
    }
    .mobile-toggle[aria-expanded = "true"]{
        background-image: url("assests/svg/x.svg");
        border-radius: 4px;
    }
    #menu-icon{
        --menu-icon: url("assests/svg/color-menu.svg");
        background-image: var(--menu-icon);
    }
    .grid-image{
        grid-template-columns: repeat(1,90%);
        margin: 1rem;
    }
    .contact-div{
        display: none;
    }
}
@media screen and (min-width: 480px) {
    #grid-projects{
        padding: 3rem 3rem;
    }
    .mobile-toggle{
        display:none;
    }
    .skillset{
        grid-template-columns: repeat(2,45%);
        gap: 1rem;
    }
    .nav_button >*{
        padding: .25rem 1rem;
    }
    .dropdown{
        display: none;
        position: absolute;
        flex-direction: column;
        top: 160%;
        box-shadow: 0px 0px 24px rgba(0 ,0 , 0, .45);
        height: auto;
    }
    .dropdown-list-items{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 1.5rem;
        background-color: white;
        width: 100%;
    }
    #dropdown-menu:hover{
        margin-bottom: 0px;
    }
    .nav-button:hover .dropdown{
        display: flex;
        transform: translateY(25px);
    }
    .contact-div{
        display: none;
    }
}
@media screen and (min-width: 640px) {
    html{
        font-size: 14px;
    }

    .primary-navigation a{
        font-size: var(--fontsizeParargraph);
    }
    
    header{
        flex-direction: row;
        padding: 1rem 2.5rem;
    }
    .mobile-toggle{
        display: none;
    }
    .project-button{
        margin: 1rem 0rem;
        font-size: var(--fontsizeParargraph);
    }
    #grid-projects{
        grid-template-columns: repeat( 2, 1fr);
        margin: 2rem 1rem;
    }
    .grid-image{
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1rem;
        margin: 2.5rem 2rem;
    }
    .ui-images h2{
        font-size: 14px;
    }
    .ui-images p{
        font-size: var(--fontsizeParargraph);
    }
    .landing-image{
        width: 40%;
    }
    .hero-title{
        left: 50px;
    }
    .project-subtitle{
        width: 30ch;
    }
    .bottom-form{
        flex-direction: row;
        justify-content: space-between;
        padding: 3rem 4rem;
        align-items: center;
    }
    .other-works{
        justify-content: center;
        width: 60%;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }
    .other-works-box{
        max-width: 100%;
    }
    .contact-div{
        display: block;
    }
}
@media screen and (min-width: 1200px) {
    html{
        font-size: 16px;
    }
    header{
        padding: 1rem 3rem;
    }
    .nav-button>*{
        padding: 1rem 2rem;
    }
    .project-button{
        margin: 1rem 0rem;
        font-size: var(--fontsizeParargraph);
    }
    #grid-projects{
        grid-template-columns: repeat( 3, 1fr);
        column-gap: 1.5rem;
        margin: 2rem auto;
        max-width: 80vw;
    }
    .landing-image{
        max-width: 600px;
    }
    .hero-title{
        left: 250px;
    }
    .project-subtitle{
        width: 60ch;
    }
    .ui-images h2{
        font-size: var(--fontsizeParargraph);
    }
    .ui-images p{
        font-size: 14px;
    }
    .other-works{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
    .other-works-box{
        max-width: 90%;
    }
}
@keyframes loading-animation{
    from{
        opacity: 0;
        transform: translateY(9rem);
    }
    to{
        opacity: 100%;
        transform: translateY(0);
    }
}